/*ヘッダー*/

body {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.black {
    color: black;
}

/*背景色*/
.namori_body{
    background-color: #ff9868
}

.game_body {
    background-color: #ecaeff;
}

.pops_body {
    background-color: #a4f0f5;
}

.classic_body {
    background-color: #cadb57;
}

.anime_body {
    background-color: #ffd187;
}

.vocaloid_body {
    background-color: rgb(192, 192, 192);
}

.variety_body {
    background-color: #acffb8;
}

/*背景色ここまで*/

.head {
    height: 100px;
    display: flex;
    background-color: #FF4C4C;
    justify-content: space-between;
    align-items: center;
}

/*ヘッダー背景色*/

.namori_head{
    background-color: #FF4C4C;
}

.game_head {
    background-color: #b34ef8;
}

.pops_head {
    background-color: #24cffc;
}

.classic_head {
    background-color: #879249;
}

.anime_head {
    background-color: #ff9b4c;
}

.vocaloid_head {
    background-color: #7c7777;
}

.variety_head {
    background-color: #22a127;
}

/*ヘッダー背景色ここまで*/


.titleDiv {
    margin-left: 2%;
}

.titleName {
    font-size: 50px;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 3%;
}

.nav {
    list-style: none;
}

.marginRight20 {
    margin-right: 20px;
}

@media screen and (max-width:826px){
    .titleName {
        font-size: 40px;
    }
}

@media screen and (max-width:720px){
    .titleName {
        font-size: 35px;
    }

    .font12 {
        font-size: 12px;
    }

    .width40 {
        width: 100px;
        font-size: 12px;
    }
}

@media screen and (max-width:590px){
    .titleName {
        font-size: 30px;
    }

    .menu {
        flex-direction: column;
    }

    .marginRight20 {
        margin-right: 0 !important;
        margin-bottom: 5px;
    }
}

@media screen and (max-width:425px) {
    .titleName {
        font-size: 25px;
    }
}

@media screen and (max-width:375px) {
    .titleName {
        font-size: 20px;
    }

    .font12 {
        font-size: 10px;
    }

    .width40 {
        width: 80px;
        font-size: 10px;
    }
}

/*ボディー*/

.songHead {
    display: flex;
    justify-content: center;
}


.songName {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
}

.songGenre {
    width: 160px;
    border-radius: 50px;
    text-align: center;
}

.dif {
    color: #aa5bc2;
    margin-left: 20px;
}

.mess {
    font-size: 30px;
    text-align: center;
}

/*入力欄*/

.set {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 40px;
}


.inSet {
    width: 70%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}


/*曲入力欄デザイン*/

.namori_inSet{
    background-color: #f55d2a;
}

.game_inSet {
    background-color: #ac73bc;
}

.pops_inSet {
    background-color: #61bdc9;
}

.classic_inSet {
    background-color: #8e9c4e;
}

.anime_inSet {
    background-color: #eca844;
}

.vocaloid_inSet {
    background-color: #989898;
}

.variety_inSet {
    background-color: #5cb03d;
}

/*曲入力欄デザインここまで*/

.inInSet {
    width: 95%;
    height: 550px;
    border-radius: 50px;
}


/*曲入力欄中身デザイン*/

.namori_inInSet{
    background-color: #f3a48a;
}

.game_inInSet {
    background-color: #f8caff;
}

.pops_inInSet {
    background-color: #ccedfc;
}

.classic_inInSet {
    background-color: #f9ffc9;
}

.anime_inInSet {
    background-color: #ffefb7;
}

.vocaloid_inInSet {
    background-color: #e3e3e3;
}

.variety_inInSet {
    background-color: #bfffa8;
}

/*曲入力欄中身デザインここまで*/

.mess {
    margin-top: 40px;
}

.size {
    font-size: 30px;
}

.result {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.flex {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }

.res {
    width: 100px;
    height: 40px;
}

.size2 {
    font-size: 20px;
}
.comment {
    margin-top: 20px !important;
}

.inComment {
    width: 60%;
}

.inInComment {
    width: 100%;
    height: 100px;
}

.buttonPosition {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btnOpt {
    width: 200px !important;
    height: 50px !important;
}

.add {
    color: black;
    font-size: 20px;
}

@media screen and (max-width:1164px) {
    .res {
        width: 70px;
    }
}

@media screen and (max-width:921px) {
    .column1 {
        flex-direction: column;
    }

    .flex {
        width: 100%;
        justify-content: space-between;
    }

    .marginOptGood {
        margin-left: 100px;
    }

    .marginOptOk {
        margin-right: 100px;
    }

    .marginOptMiss {
        margin-left: 70px;
    }

    .marginOptRoll {
        margin-right: 87px;
    }
}

@media screen and (max-width:838px) {
    .column2 {
        flex-direction: column;
        align-items: center;
    }

    .marginBottom5 {
        margin-bottom: 5px;
    }

}

@media screen and (max-width:725px) {
    .inSet {
        width: 85%;
    }

    .songName {
        font-size: 45px;
    }
}

@media screen and (max-width:603px) {

    .marginOptGood {
        margin-left: 70px;
    }

    .marginOptOk {
        margin-right: 80px;
    }

    .marginOptMiss {
        margin-left: 40px;
    }

    .marginOptRoll {
        margin-right: 65px;
    }

    .songName {
        font-size: 37px;
    }
}

@media screen and (max-width:543px) {

    .mess {
        font-size: 25px;
    }

    .marginOptGood {
        margin-left: 40px;
    }

    .marginOptOk {
        margin-right: 40px;
    }

    .marginOptMiss {
        margin-left: 10px;
    }

    .marginOptRoll {
        margin-right: 25px;
    }

}

@media screen and (max-width:476px) {
    .flex {
        flex-direction: column;
        align-items: center;
    }

    .size {
        font-size: 25px;
    }

    .marginOptGood {
        margin-left: 40px;
        margin-bottom: 5px;
    }

    .marginOptOk {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 5px;
    }

    .marginOptMiss {
        margin-left: 0;
        margin-right: 25px;
        margin-bottom: 5px;
    }

    .marginOptRoll {
        margin-right: 15px;
    }

    .inSet {
        height: 750px;
    }

    .inInSet {
        height: 700px;
    }
}

@media screen and (max-width:375px) {

    .mess {
        font-size: 20px;
    }
    
}

@media screen and (max-width:320px) {

    .size2 {
        font-size: 16px;
    }
}


/*リザルト*/

.resultViews {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.h1 {
    font-size: 40px;
    text-align: center;
}

.flexCenter {
    width: 100%;
    display: flex;
    justify-content: center;
}

.marginOpt {
    margin-top: 50px;
}

.widthOpt {
    width: 70%;
}

.data {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

@media screen and (max-width:725px) {

    .data {
        flex-direction: column;
        align-items: center;
    }

    .marginBottom5 {
        margin-bottom: 5px;
    }

    .order {
        margin-top: 30px !important;
    }
}

.text-align {
    text-align: center;
}

.margin-top20 {
    margin-top: 20px;
}

.margin-top50 {
    margin-top: 50px;
}

.font-size30 {
    font-size: 30px;
}

.homeLink {
    margin-top: 50px;
    font-size: 30px;
}

.homeLinkA {
    text-decoration: none;
}

