
/*ヘッダー*/

body {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #FAF3DD;
}


.head {
    height: 100px;
    display: flex;
    background-color: #FF4C4C;
    justify-content: space-between;
    align-items: center;
}

.homeLinkA {
    text-decoration: none;
}

.black {
    color: black;
}

.titleDiv {
    margin-left: 2%;
}

.titleName {
    font-size: 50px;
}

@media screen and (max-width:826px){
    .titleName {
        font-size: 40px;
    }
}

@media screen and (max-width:720px){
    .titleName {
        font-size: 35px;
    }

    .font12 {
        font-size: 12px;
    }

    .width40 {
        width: 100px;
        font-size: 12px;
    }
}

@media screen and (max-width:590px){
    .titleName {
        font-size: 30px;
    }

    .menu {
        flex-direction: column;
    }

    .marginRight20 {
        margin-right: 0 !important;
        margin-bottom: 5px;
    }
}

@media screen and (max-width:425px) {
    .titleName {
        font-size: 25px;
    }
}

@media screen and (max-width:375px) {
    .titleName {
        font-size: 20px;
    }

    .font12 {
        font-size: 10px;
    }

    .width40 {
        width: 80px;
        font-size: 10px;
    }
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 3%;
}

.nav {
    list-style: none;
}

.marginRight20 {
    margin-right: 20px;
}

.body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-top: 120px;
}

.inBody {
    background-color: #FFF5CC;
    width: 70%;
    height: 500px !important;
    border-radius: 10%;
}

.inInBody {
    display: flex;
    justify-content: center;
    width: 100%;
}


.addSongs {
    font-size: 35px;
}

.addSongBtn {
    width: 70%;
    height: 50px;
}

.difBtn {
    width: 20%;
    height: 40px;
}

.genre {
    width: 20%;
    height: 40px;
    margin-left: 30px;
}

.div1 {
    margin-top: 40px;
}

.div2 {
    margin-top: 50px;
}

.div3 {
    margin-top: 50px;
}

.addBtn {
    width: 30%;
    height: 60px;
    border-radius: 50px;
    font-size: 20px;
}

.addBtnOpt {
    margin-top: 50px;
}

@media screen and (max-width:590px) {
    .addSongs {
    font-size: 25px;
}

    .inBody {
        width: 85%;
        height: 450px !important;
    }
}

/*曲一覧*/

.songDiv {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.selectMess {
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.size {
    font-size: 25px;
}

.serchSongs {
    width: 15%;
    height: 40px;
}

.srbtn {
    margin-left: 5px;
}

.srBtn {
    border-radius: 50px;
    width: 100px;
}

.viewSongs {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.inViewSongs {
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    align-items: center;
}

.link {
    display: block;
    width: 100%;
    text-decoration: none;
}

.linkDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inViewSongs:first-of-type {
     border-top: 2px solid black;
}

.song {
    font-size: 25px;
    color: black;
}

.songInfo {
    width: 30%;
    text-align: center;
}

/*ジャンル色*/

.namuori {
    color: #f55d2a;
}

.game {
    color: #df73e8;
}

.pops {
    color: #24bfde;
}

.classic {
    color: #bdc229;
}

.anime {
    color: #eab24a;
}

.vocaloid {
    color: #92a19d;
}

.variety {
    color: #4beb53;
}

@media screen and (max-width:938px) {
    .song {
        font-size: 15px;
    }

    .songInfo {
        width: 40%;
    }

    .width10 {
        width: 10% !important;
    }
}

@media screen and (max-width:590px) {
    .flex {
        margin-bottom: 70px;
    }

    .selectMess {
        font-size: 30px;
    }

    .serchSongs {
        width: 30%;
    }

}


@media screen and (max-width:498px) {
    .song {
        font-size: 12px;
    }
}

@media screen and (max-width:425px) {
    .center {
        text-align: center;
    }

    .srBtn {
        width: 70px;
    }
}

/*ジャンルここまで*/

/*できない

.trash {
    color: #FF4C4C !important;
}

.edit {
    color: #88c8e3;
}

*/

/*難易度色*/

.ura {
    color:#a441ad;
}

.oni {
    color: #e64a93;
}

.hard {
    color: #084e39;
}

.normal {
    color: #13e54b;
}

.easy {
    color: #f76363;
}

/*難易度ここまで*/

.navi {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}